.cart-enter{
    opacity: 0;
}

.cart-enter-active{
    opacity: 1;
    transition: opacity 1000 ease-in forwards 
}

.cart-exit{
    opacity: 0;
}

.cart-exit-active{
    opacity: 1;
    transition: opacity 1000 ease-in forwards 
}
