:root{
  --dark-font-color:rgb(47, 52, 54);
  --dark-font-hover:hsl(203, 9%, 34%);


  --yellow-accent:#efcb1d;  
  --dark-yellow-accent:#b69d23;  
  --div-bg-color:#fafafa;
  --mobile-hover:#1f1f1fc5;
  --mobile-line:#333333;
  --mobile-slider-text-color:#dfdfdf;
  --pale-button-on-white-bg:#fafafa;
  --bg-color-modal:#1f1f1f67;

  --light-box-shadow:0px 3px 5px rgb(231, 231, 231); 
  --medium-box-shadow:0 3px 8px #3d3d3d;
}

