:root{
  --dark-font-color:rgb(47, 52, 54);
  --dark-font-hover:hsl(203, 9%, 34%);
  --card-background-color:white;

  --yellow-accent-pale:#efcc1d67;
  --yellow-accent:#efcb1d;  
  --yellow-accent-hover:#f7d321;
  --dark-yellow-accent:#b69d23;

  --red-accent:#b42e2e;
    
  --div-bg-color:#fafafa;
  --mobile-hover:#1f1f1fc5;
  --mobile-line:#333333;
  
  --mobile-slider-text-color:#cfcfcf;
  --mobile-slider-darker-color:#616161;
  --pale-bg-hover:#d1d1d1;

  --pale-button-on-white-bg:#fafafa;
  --bg-color-modal:#1f1f1f67;


  --hr-color:#bbb;
  --light-box-shadow:0px 3px 5px rgb(231, 231, 231); 
  --medium-box-shadow:0 3px 8px #3d3d3d;
  
}

