body {
  /* font-family: 'Quicksand', sans-serif; */
  color: var(--dark-font-color);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
div {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-size: clamp(2.5rem, 4vw, 4rem);
  font-family: "Quicksand", sans-serif;
}

h2{
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-family: "Quicksand", sans-serif;
  line-height: 1.1;
  font-weight: bold;
}

h3 {
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  font-weight: 600;
}

h4 {
  font-size: clamp(1rem, 1vw, 1.1rem);
}

h3,
h4,
h5,
h6,
p,
a {
  font-family: "Open Sans", sans-serif;
}






h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}
p {
  color: white;
}

hr {
  background-color: #bbb;
  border: 0 none;
  color: #bbb;
  height: 1px;
}


